<div class="horizontal-scroll">
    <table class="table table-hover">
        <thead>
            <tr class="black-muted-bg">
                <th class="align-left">Demande</th>
                <th class="align-left" ng-show="ClaimsCtrl.isStudent">Intervenant</th>
                <th class="align-left">Projet</th>
                <th class="align-left">Status</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in ClaimsCtrl.claims" class="no-top-border" ng-click="ClaimsCtrl.viewClaim(item)">
                <td ng-class="nowrap"><a href style="color: white">{{ item.offerName }}</a></td>
                <td ng-class="nowrap" ng-show="ClaimsCtrl.isStudent"><a href style="color: white">{{ item.intervenantName }}</a></td>
                <td ng-class="nowrap"><a href style="color: white">{{ item.projectName }}</a></td>
                <td ng-class="nowrap"><a href style="color: white">{{ ClaimsCtrl.status[item.status] }}</a></td>
            </tr>
        </tbody>
    </table>
</div>