<div class="widgets">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <div ng-if="projectCtrl.cancreateproject" ba-panel ba-panel-title="Ajouter un projet" ba-panel-class="with-scroll">
                <div>
                    <form id="createProjectForm" name="createProjectForm" data-ng-submit="projectCtrl.createProject()">
                        <div class="form-group">
                            <label for="userProperties.first_name">Titre du projet</label>
                            <input type="text" class="form-control" ng-model='projectCtrl.projectProperties.name' placeholder="Titre du projet">
                        </div>
                        <div class="form-group">
                            <div class="btn-group bootstrap-select form-control ng-pristine ng-untouched ng-valid ng-empty">
                                <select class="form-control selectpicker ng-pristine ng-untouched ng-valid ng-empty" ng-model="projectCtrl.projectProperties.campus" ng-options="item.id as item.name for item in projectCtrl.campuses" selectpicker="" title="Sélectionner un campus" tabindex="-98"></select>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-danger">Ajouter</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>